.claude
.dockerignore
.env
.env.*
.eslintcache
.git
.github
.gitignore
.linthtmlrc.json
.mcp.json
.prettiercache
.prettierignore
.prettierrc.json
.svelte-kit

Dockerfile
LICENSE
README.md
compose.yaml
compose.*.yaml
drizzle.config.js
eslint.config.js
opencode.json

build
dist
docker
drizzle
node_modules
