/.eslintcache
/.prettiercache
/.svelte-kit
/build
/output

.claude/**.local.json
.env
.env.*
!.env.example
node_modules
scratchpad

# Host-specific Production Files
/certificate.pem

# Coding Agents
AGENTS.override.md
CLAUDE.local.md
