name: drap

services:
  www:
    build: .
    profiles:
      - prod
    restart: always
    ports:
      - 3000:3000
    env_file:
      - .env
    healthcheck:
      test: ['CMD-SHELL', 'wget -q0- http://localhost:3000/']
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s

  db:
    build: ./docker/postgres
    profiles:
      - dev
      - prod
    restart: always
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD
        - pg_isready
      interval: 1s
      timeout: 5s
      retries: 10
    environment:
      # Development-only credentials!
      POSTGRES_PASSWORD: password

  redis:
    image: redis:8.4.0-alpine3.22
    profiles:
      - dev
      - prod
    restart: always
    volumes:
      - redis:/data
    ports:
      - 6379:6379
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s

  o2:
    image: public.ecr.aws/zinclabs/openobserve:v0.40.3
    environment:
      ZO_DATA_DIR: /data
      # Development-only credentials!
      ZO_ROOT_USER_EMAIL: admin@example.com
      ZO_ROOT_USER_PASSWORD: password
    ports:
      - 5080:5080
    volumes:
      - open-observe:/data
    restart: always

volumes:
  open-observe:
  postgres:
  redis:
