# Base configuration with common fields (versions, ports, volumes).
name: drap

services:
  postgres:
    pull_policy: build
    build: ./docker/postgres
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - database
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready']
      interval: 5s
      timeout: 5s
      retries: 5

  inngest:
    image: inngest/inngest:v1.17.1
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - queue
    ports:
      - 8288:8288
    restart: always

  o2:
    image: public.ecr.aws/zinclabs/openobserve:v0.60.0
    environment:
      ZO_DATA_DIR: /data
    ports:
      - 5080:5080
    volumes:
      - open-observe:/data
    networks:
      - telemetry
    restart: always

volumes:
  open-observe:
  postgres:

networks:
  database:
  queue:
  telemetry:
