# Base configuration with common fields (versions, ports, volumes).
name: drap

services:
  postgres:
    build: ./docker/postgres
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    restart: always

  inngest:
    image: inngest/inngest:v1.16.1
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - 8288:8288
    restart: always

volumes:
  postgres:
