# Base configuration for development and production services.
name: drap

services:
  postgres:
    build: ./docker/postgres
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      # Development-only credentials!
      POSTGRES_PASSWORD: password
    restart: always

  inngest:
    image: inngest/inngest:v1.16.1
    ports:
      - 8288:8288
    command:
      - inngest
      - dev
      - '--no-discovery'
      - '--sdk-url'
      - 'http://host.docker.internal:5173/api/inngest' # Vite
    restart: always

  o2:
    image: public.ecr.aws/zinclabs/openobserve:v0.50.3
    environment:
      ZO_DATA_DIR: /data
      # Development-only credentials!
      ZO_ROOT_USER_EMAIL: admin@example.com
      ZO_ROOT_USER_PASSWORD: password
    ports:
      - 5080:5080
    volumes:
      - open-observe:/data
    restart: always

volumes:
  open-observe:
  postgres:
