@import 'tailwindcss';
@import 'tw-animate-css';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;

  /* Surface → Background/Card/Popover */
  --background: oklch(92.88% 0.01 255.51deg);
  --foreground: oklch(20.16% 0.01 163.61deg);
  --card: oklch(94.873% 0.00848 236.982);
  --card-foreground: oklch(36.292% 0.01873 157.536);
  --popover: oklch(94.873% 0.00848 236.982);
  --popover-foreground: oklch(36.292% 0.01873 157.536);

  /* Primary (green) */
  --primary: oklch(49.51% 0.12 154.86deg);
  --primary-foreground: oklch(98.23% 0.02 140.81deg);

  /* Secondary (teal) */
  --secondary: oklch(80.379% 0.07361 159.214);
  --secondary-foreground: oklch(29.161% 0.04508 176.474);

  /* Muted (surface grays) */
  --muted: oklch(83.19% 0.01 238.49deg);
  --muted-foreground: oklch(41.52% 0.02 153.87deg);

  /* Accent (blue) */
  --accent: oklch(72.68% 0.07 248.1deg);
  --accent-foreground: oklch(33.62% 0.08 252.16deg);

  /* Destructive */
  --destructive: oklch(56.23% 0.18 24.89deg);
  --destructive-foreground: oklch(86.45% 0.07 37.09deg);

  /* Success */
  --success: oklch(65.6% 0.18 149.18deg);
  --success-foreground: oklch(30.86% 0.11 142.5deg);

  /* Warning */
  --warning: oklch(82.33% 0.14 76.57deg);
  --warning-foreground: oklch(43.77% 0.1 65.44deg);

  /* Borders/Input/Ring */
  --border: oklch(73.51% 0.01 205.74deg);
  --input: oklch(73.51% 0.01 205.74deg);
  --ring: oklch(49.51% 0.12 154.86deg);

  /* Charts */
  --chart-1: oklch(49.51% 0.12 154.86deg);
  --chart-2: oklch(77.15% 0.0813 159.02deg);
  --chart-3: oklch(65.83% 0.09 249.23deg);
  --chart-4: oklch(65.6% 0.18 149.18deg);
  --chart-5: oklch(82.33% 0.14 76.57deg);

  /* Sidebar */
  --sidebar: oklch(92.88% 0.01 255.51deg);
  --sidebar-foreground: oklch(20.16% 0.01 163.61deg);
  --sidebar-primary: oklch(49.51% 0.12 154.86deg);
  --sidebar-primary-foreground: oklch(98.23% 0.02 140.81deg);
  --sidebar-accent: oklch(72.68% 0.07 248.1deg);
  --sidebar-accent-foreground: oklch(33.62% 0.08 252.16deg);
  --sidebar-border: oklch(73.51% 0.01 205.74deg);
  --sidebar-ring: oklch(49.51% 0.12 154.86deg);
}

.dark {
  /* Surface → Background/Card/Popover */
  --background: oklch(20.16% 0.01 163.61deg);
  --foreground: oklch(92.88% 0.01 255.51deg);
  --card: oklch(24.77% 0.01 160.26deg);
  --card-foreground: oklch(92.88% 0.01 255.51deg);
  --popover: oklch(24.77% 0.01 160.26deg);
  --popover-foreground: oklch(92.88% 0.01 255.51deg);

  /* Primary (green) */
  --primary: oklch(49.51% 0.12 154.86deg);
  --primary-foreground: oklch(98.23% 0.02 140.81deg);

  /* Secondary (teal) */
  --secondary: oklch(0.7715 0.0813 159.02);
  --secondary-foreground: oklch(38.64% 0.0634 176.44deg);

  /* Muted (surface grays) */
  --muted: oklch(29.17% 0.01 157.93deg);
  --muted-foreground: oklch(63.24% 0.01 188.78deg);

  /* Accent (blue) */
  --accent: oklch(62.869% 0.10379 249.809);
  --accent-foreground: oklch(33.62% 0.08 252.16deg);

  /* Destructive (error red) */
  --destructive: oklch(56.23% 0.18 24.89deg);
  --destructive-foreground: oklch(88.309% 0.0498 38.246);

  /* Success (bright green) */
  --success: oklch(69.81% 0.17 150.75deg);
  --success-foreground: oklch(30.86% 0.11 142.5deg);

  /* Warning (yellow) */
  --warning: oklch(84.79% 0.12 78.56deg);
  --warning-foreground: oklch(43.77% 0.1 65.44deg);

  /* Borders/Input/Ring */
  --border: oklch(33.41% 0.02 156.21deg);
  --input: oklch(33.41% 0.02 156.21deg);
  --ring: oklch(49.51% 0.12 154.86deg);

  /* Charts */
  --chart-1: oklch(58.83% 0.11 159deg);
  --chart-2: oklch(69.73% 0.0776 162.14deg);
  --chart-3: oklch(72.68% 0.07 248.1deg);
  --chart-4: oklch(69.81% 0.17 150.75deg);
  --chart-5: oklch(84.79% 0.12 78.56deg);

  /* Sidebar */
  --sidebar: oklch(24.77% 0.01 160.26deg);
  --sidebar-foreground: oklch(92.88% 0.01 255.51deg);
  --sidebar-primary: oklch(49.51% 0.12 154.86deg);
  --sidebar-primary-foreground: oklch(98.23% 0.02 140.81deg);
  --sidebar-accent: oklch(62.869% 0.10379 249.809);
  --sidebar-accent-foreground: oklch(33.62% 0.08 252.16deg);
  --sidebar-border: oklch(33.41% 0.02 156.21deg);
  --sidebar-ring: oklch(49.51% 0.12 154.86deg);
}

@theme inline {
  --background-image-dcs: url('$lib/assets/dcs.webp');
  --breakpoint-xs: 30rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
