@import 'tailwindcss';

@theme {
  --breakpoint-xs: 30rem;
  --background-image-dcs: url('$lib/assets/dcs.webp');
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';

@import './dcs.css';

@source '../../node_modules/@skeletonlabs/skeleton-svelte/dist';
