@import 'tailwindcss';

@theme {
  --breakpoint-xs: 30rem;
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';

/* @import './dcs.css'; */
@import './dcs-v2.css';

@source '../../node_modules/@skeletonlabs/skeleton-svelte/dist';
