[data-theme='dcs'] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-400);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.5rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(98.23% 0.02 140.81deg);
  --color-primary-100: oklch(88.44% 0.04 155.75deg);
  --color-primary-200: oklch(78.63% 0.07 158.95deg);
  --color-primary-300: oklch(68.54% 0.09 160.76deg);
  --color-primary-400: oklch(58.83% 0.11 159deg);
  --color-primary-500: oklch(49.51% 0.12 154.86deg);
  --color-primary-600: oklch(45.24% 0.11 154.56deg);
  --color-primary-700: oklch(41.15% 0.1 153.96deg);
  --color-primary-800: oklch(36.66% 0.09 153.47deg);
  --color-primary-900: oklch(32.32% 0.08 152.64deg);
  --color-primary-950: oklch(27.51% 0.07 151.81deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-light);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(1 0 0);
  --color-secondary-100: oklch(0.9532 0.0157 160.62);
  --color-secondary-200: oklch(0.9087 0.0325 161.23);
  --color-secondary-300: oklch(0.8619 0.0485 160.33);
  --color-secondary-400: oklch(0.8178 0.0654 160.01);
  --color-secondary-500: oklch(0.7715 0.0813 159.02);
  --color-secondary-600: oklch(0.6973 0.0776 162.14);
  --color-secondary-700: oklch(0.6239 0.0754 165.04);
  --color-secondary-800: oklch(0.5456 0.0723 169.04);
  --color-secondary-900: oklch(0.4684 0.0693 172.2);
  --color-secondary-950: oklch(0.3864 0.0634 176.44);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-700: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(99.48% 0.01 196.79deg);
  --color-tertiary-100: oklch(92.85% 0.02 233.82deg);
  --color-tertiary-200: oklch(86.15% 0.04 241.49deg);
  --color-tertiary-300: oklch(79.49% 0.05 246.64deg);
  --color-tertiary-400: oklch(72.68% 0.07 248.1deg);
  --color-tertiary-500: oklch(65.83% 0.09 249.23deg);
  --color-tertiary-600: oklch(59.67% 0.08 249.93deg);
  --color-tertiary-700: oklch(53.32% 0.08 250.19deg);
  --color-tertiary-800: oklch(47.1% 0.08 250deg);
  --color-tertiary-900: oklch(40.43% 0.08 250.62deg);
  --color-tertiary-950: oklch(33.62% 0.08 252.16deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(88.17% 0.12 154.5deg);
  --color-success-100: oklch(83.6% 0.14 153.81deg);
  --color-success-200: oklch(78.83% 0.15 153.1deg);
  --color-success-300: oklch(74.42% 0.16 151.91deg);
  --color-success-400: oklch(69.81% 0.17 150.75deg);
  --color-success-500: oklch(65.6% 0.18 149.18deg);
  --color-success-600: oklch(58.99% 0.16 148.21deg);
  --color-success-700: oklch(52.48% 0.15 146.98deg);
  --color-success-800: oklch(45.49% 0.13 145.58deg);
  --color-success-900: oklch(38.53% 0.12 144.09deg);
  --color-success-950: oklch(30.86% 0.11 142.5deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(95.58% 0.05 86.88deg);
  --color-warning-100: oklch(92.81% 0.07 83.57deg);
  --color-warning-200: oklch(90.05% 0.09 81.8deg);
  --color-warning-300: oklch(87.42% 0.11 80.05deg);
  --color-warning-400: oklch(84.79% 0.12 78.56deg);
  --color-warning-500: oklch(82.33% 0.14 76.57deg);
  --color-warning-600: oklch(75.03% 0.13 75.27deg);
  --color-warning-700: oklch(67.57% 0.12 73.66deg);
  --color-warning-800: oklch(59.79% 0.11 72.31deg);
  --color-warning-900: oklch(51.91% 0.11 69.48deg);
  --color-warning-950: oklch(43.77% 0.1 65.44deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(86.45% 0.07 37.09deg);
  --color-error-100: oklch(79.94% 0.09 30.66deg);
  --color-error-200: oklch(73.54% 0.12 26.78deg);
  --color-error-300: oklch(67.47% 0.14 25.69deg);
  --color-error-400: oklch(61.58% 0.16 24.69deg);
  --color-error-500: oklch(56.23% 0.18 24.89deg);
  --color-error-600: oklch(51.75% 0.17 25.49deg);
  --color-error-700: oklch(47.26% 0.16 26.21deg);
  --color-error-800: oklch(42.97% 0.16 27.08deg);
  --color-error-900: oklch(38.53% 0.15 27.99deg);
  --color-error-950: oklch(34.02% 0.14 29.23deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-light);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(92.88% 0.01 255.51deg);
  --color-surface-100: oklch(83.19% 0.01 238.49deg);
  --color-surface-200: oklch(73.51% 0.01 205.74deg);
  --color-surface-300: oklch(63.24% 0.01 188.78deg);
  --color-surface-400: oklch(52.81% 0.01 164.33deg);
  --color-surface-500: oklch(41.52% 0.02 153.87deg);
  --color-surface-600: oklch(37.52% 0.02 154.9deg);
  --color-surface-700: oklch(33.41% 0.02 156.21deg);
  --color-surface-800: oklch(29.17% 0.01 157.93deg);
  --color-surface-900: oklch(24.77% 0.01 160.26deg);
  --color-surface-950: oklch(20.16% 0.01 163.61deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-light);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
